.coin-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 900px;
  margin: 0 auto;
  text-align: right;
  margin-top: 20px;
  padding: 20px;
  color: rgb(99, 99, 99);
}

.coin-input {
  border: 2px solid #eee;
  border-radius: 20px;
  width: 300px;
  padding: 10px 10px;
}
