.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2rem;
  color: #000;
  background-image: linear-gradient(#fff, #aaa);
}

.navbar a {
  color: #000;
  text-decoration: none;
  margin: 20px;
}

.left-head {
  position: relative;
  top: 12px;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #f5f5f5;
  text-shadow:
    1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.right-head {
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.right-head a {
  position: relative;
  top: -5px;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.23rem;
  font-weight: 900;
  color: rgb(114, 112, 112);
  text-shadow:
    1px 1px 1px #919191,
    1px 2px 1px #e0dede,
    1px 3px 1px #e0dede,
    1px 4px 1px #e0dede,
    1px 5px 1px #e0dede,
    1px 6px 1px #e0dede,
    1px 7px 1px #969595,
    1px 8px 1px #e0dede,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
